html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 1;
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

.hidden {
  display: none;
}

.game {
  position: relative;
  height: 100%;
  display: flex;
  background: linear-gradient(
    to left,
    green,
    #69400d 8%,
    #69400d 92%,
    green 100%
  );
}

.car,
.enemy {
  width: 50px;
  height: 100px;
  background: transparent url("./image/Messi-removebg-preview.png") center / cover no-repeat;
  position: absolute;
}

.enemy {
  width: 70px;
  height: 160px;
}

.car {
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 768px) {
  .car,
  .enemy {
    width: 40px;
    height: 80px;
    transform: scale(0.8);
  }

  .car {
    width: 75px;
  }

  .enemy {
    width: 43px;
    height: 100px;
  }
}

.gameArena {
  position: relative;
  margin: auto;
  width: 80%;
  height: 100vh;
  /* background: #222; */
  background: rgb(44, 241, 44);
  overflow: hidden;
}

.line {
  position: absolute;
  width: 10px;
  height: 40px;
  background: #fff;
  left: 145px;
}

.left__line, 
.right__line {
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background: #fff;
}

.left__line {
  left: 0;
}

.right__line {
  right: 0;
}

.circle {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 10px;
  background: #fff;
  opacity: 0;
}

.circle.visible {
  opacity: 1;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
}

.finish__pitch {
  position: absolute;
  top: -1440px;
  left: 0;
  width: 100%;
  height: 76px;
  border-bottom: 10px solid #fff;
}

.football__gate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 95px;
  background: transparent url("./image/football-gate4-removebg-preview-obtain.png") center / cover no-repeat;
}

.football__ball {
  position: absolute;
  bottom: 28px;
  right: -4px;
  width: 40px;
  height: 40px;
  background: transparent url("./image/football-ball-removebg-preview.png") center / cover no-repeat;
  z-index: 10;
}

.rotating {
      -webkit-animation: rotating 1.3s linear infinite;
        -moz-animation: rotating 1.3s linear infinite;
        -ms-animation: rotating 1.3s linear infinite;
        -o-animation: rotating 1.3s linear infinite;
        animation: rotating 1.3s linear infinite;
}

.football__cover {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 33px;
  height: 34px;
  background: rgb(44, 241, 44);
  border-radius: 50%;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .football__gate {
    width: 90px;
    height: 60px;
  }

  .finish__pitch {
    height: 45px;
  }

  .football__cover {
    bottom: 19px;
    width: 20px;
    height: 20px;
    right: -2px;
  }

  .football__ball {
    width: 18px;
    height: 18px;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.start {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 9vh;
  margin: 0;
  padding: 12px 0;
  text-align: center;
  z-index: 200;
  color: #fff;
  font-size: 1.5rem;
  background: black;
  font-family: sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 2px #c1c1c1;
}

.btn {
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 20px;
}

.btn:disabled {
  color: #888888;
  cursor: inherit;
}

.score {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 9vh;
  padding: 5px 0;
  text-align: center;
  z-index: 200;
  color: skyblue;
  font-size: 1.5rem;
  background: black;
  font-family: sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  box-shadow: 0px -2px 6px 2px #c1c1c1;
}
